# Python / Flask
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Environment variables (VERY IMPORTANT)
.env.*

# Logs
*.log

# OS files
.DS_Store

# Frontend
node_modules/
dist/
build/

# Database
*.sql